<div class="card">
  <div class="card-header">
    <h4><%= aquarium.name %></h4>
    <% aquarium.tags.each do |tag| %>
    <span class="badge badge-primary"><%= tag.name %></span>
    <% end %>
  </div>
  <div class="card-body">
    <%= attachment_image_tag aquarium, :image %>
    <p class="card-text"><%= simple_format(aquarium.body) %></p>
    <p><%= aquarium.address %></p>
    <p><%= aquarium.official %></p>
  </div>
</div>