<div class="d-flex align-items-center">
  <h1>水族館一覧</h1>
  <div class="ml-auto aquaria__linkBox">
    <%= form_tag aquaria_path, method: :get, class: 'aquaria__searchForm' do %>
    <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み',
                       class: 'form-control aquaria__select',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
<div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @aquaria.each do |aquarium| %>
    <tr>
      <td><%= aquarium.id %></td>
      <td><%= aquarium.name %></td>
      <td><%= aquarium.created_at.to_s(:datetime_jp) %></td>
      <td><%= aquarium.updated_at.to_s(:datetime_jp) %></td>
      <td><%= link_to '詳細', aquarium, class: 'btn btn-outline-dark' %></td>
      <td><%= link_to '削除', aquarium, class: 'btn btn-outline-dark', method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @aquaria %>