<div class="row">

</div>
<div class="row">
  <div class="col item">
    <%= image_tag "no_image.jpg", alt: "No Image" , class: "sample" %>
    <h5 class="item_title">すいぞくかんのおなまえ</h5>
  </div>
  <div class="col item">
    <%= image_tag "no_image.jpg", alt: "No Image", class: "sample"  %>
    <h5 class="item_title">すいぞくかんのおなまえ</h5>
  </div>
  <div class="col item">
    <%= image_tag "no_image.jpg", alt: "No Image", class: "sample"  %>
    <h5 class="item_title">すいぞくかんのおなまえ</h5>
  </div>
  <div class="col item">
    <%= image_tag "no_image.jpg", alt: "No Image", class: "sample"  %>
    <h5 class="item_title">すいぞくかんのおなまえ</h5>
  </div>
  <div class="col item">
    <%= image_tag "no_image.jpg", alt: "No Image", class: "sample"  %>
    <h5 class="item_title">すいぞくかんのおなまえ</h5>
  </div>
  <div class="col item">
    <%= image_tag "no_image.jpg", alt: "No Image", class: "sample"  %>
    <h5 class="item_title">すいぞくかんのおなまえ</h5>
  </div>
</div>